<div id="headerBtnLogin" *ngIf="!authService.isAuthenticated()" (click)="authService.login()" class="pull-right header-btn">
  <i class="fas fa-user-circle"></i>
  LOGIN
</div>

<div id="headerBtnLogin" *ngIf="authService.isAuthenticated()" class="pull-right header-btn">
  <i class="fas fa-user-circle"></i>
  Olá, {{userData.username}}
  <br>
  <a href="#" (click)="authService.logout()" class="pull-right">Sair</a>
</div>