.header-btn
{
    height: 70px;
    padding: 20px;
    padding-top: 20px;
    font-weight: bold;
    border-left: 1px solid rgb(192, 192, 192);

    cursor: pointer;
}
#headerBtnLogin
{
    color: #F1753F;
    
    i
    {
        color: #000000;
    }
}