@import 
  'variables',
  'mixins';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*
{
    font-size: 16px;
}

.fullsize
{
    width: 100%;
}
.actionBtn
{
    background-color: #3B98D5;
    border: none;
    border-radius: 4px;

    font-size: 18px;
    height: 40px;
    color: #ffffff;
    font-weight: bold;
    
    letter-spacing: 2px;
}

.kakou
{
    border: 1px solid black;
}

.colorGreen
{
    color: #53B65C;
}
.colorOrange
{
    color: #F1753F;
}