<div class="pane">
  <div class="container">
    <div class="row">
      <div class="label col-md-6 text-left">
          Receba nossas melhores promoções
          <br>
          direto no seu e-mail
      </div>
      <div class="col-md-6">
        <input type="text" />
        <button mat-raised-button color="warn" flex="100">Enviar</button>
      </div>
    </div>  
  </div>
</div>