.pane
{
    background-color: #00315A;
    height: 150px;
    
    padding: 40px;
}

.label
{
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

input[type=text]
{
    border-radius: 4px;
    border: none;

    width: 300px;
    height: 40px;

    margin-right: 20px;
    padding-left: 10px;
}