<div class="pane">
  <div class="container">
    <div class="row footerLinkRow">
      <div class="col-md-3 footerLinkGroup">
        <h3>Mapa do Site</h3>
        <br>
        <ul>
          <li>Reserve já</li>
          <li>Rede de Lojas</li>
          <li>Fale Conosco</li>
          <li>SAC</li>
        </ul>
      </div>
      <div class="col-md-3 footerLinkGroup">
        <h3>Suporte ao Cliente</h3>
        <br>
        <ul>
          <li>SÃO PAULO: (11) 3524-7525</li>
          <li>DEMAIS REGIÕES: 0800 602 7525</li>
          <li>CADASTRE SUA AGÊNCIA</li>
          <li>FALE CONOSCO</li>
        </ul>
      </div>
      <div class="col-md-3 footerLinkGroup">
        <h3>Serviços</h3>
        <br>
        <ul>
          <li>AGENTES PARCEIROS</li>
          <li>CHECK-IN ONLINE <b>DOLLAR</b></li>
          <li>CHECK-IN ONLINE <b>THRIFTY</b></li>
          <li>SAC</li>
        </ul>
      </div>
      <div class="col-md-3">
        brand logos
      </div>
    </div>
  </div>
</div>

<div class="footerPhonesPane">
  <div class="container text-center">
    <img src="./hp-footerlogo.png" alt="SG Rentals" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    São Paulo: (11) 3524-7525
    &nbsp;&nbsp;&nbsp;&nbsp;
    Demais Regiões: 0800 602 7525
  </div>
</div>

<div class="footerBottom">
  <div class="container text-center">
    Copyright &copy; <i>SGRENTALS.COM.BR</i> | Todos os Direitos Reservados
  </div>
</div>