$paneColor: #464646;

.pane
{
    background-color: $paneColor;
    height: 240px;
    
    color: #ffffff;
}

.footerLinkRow
{
    padding-top: 20px;
}
.footerLinkGroup
{    
    h3
    {
        border-bottom: 2px solid #F1753F;
        width: 98%;
        line-height: 40px;
    }

    ul li
    {
        font-size: 14px;
        line-height: 40px;
        margin-top: -10px;
    }
}
.footerPhonesPane
{
    background-color: $paneColor;
    color: #ffffff;

    border-top: 2px solid #5E5E5E;
    height: 80px;
    padding-top: 25px;
}
.footerBottom
{
    background-color: #5E5E5E;
    color: #ffffff;

    padding-top: 20px;
    height: 70px;
}