<div class="pane">
  <br>
  <div class="header">
      <h3 class="text-center">Aluguel de Carros</h3>
      <h1 class="text-center">{{countryName}}</h1>
  </div>
  <div class="image"></div>
  <div class="offerLabel">
    <div class="pull-right">7 dias, a partir de:</div>
  </div>
  <div class="pricesPane">
    <div *ngFor="let offer of cityPriceList"> 
      <div class="offer">
          <span class="priceLocation">{{offer.cityName + ', ' + offer.countryInitials}}</span>
          <span class="pull-right priceLabel">{{offer.currency}} <span>{{offer.pricePerDay}}</span> /dia</span>
      </div>
    </div>
  </div> 
</div>