.pane
{
    width: 350px;
    border-radius: 4px;
    background-color: #00315A;
}
.header
{
    padding-bottom: 10px;
    color: #ffffff;
}

.image
{
    width: 100%;
    height: 180px;
    padding: 0;

    background-color: #dddddd;
}

.offerLabel
{
    width: 100%;
    height: 45px;

    background-color: #F1753F;
    color: #ffffff;

    font-size: 18px;
    padding-top: 10px;
    padding-right: 20px;
}
.pricesPane
{
    font-size: 18px;
    color: #767B7C;
    padding: 20px;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}
.priceLocation
{
    font-size: 20px;
}
.offer
{
    height: 60px;
}
.priceLabel
{
    font-size: 14px;
    font-weight: bold;

    span
    {
        font-size: 28px;
    }
}