.jumbotron
{
    margin: 0;
    padding: 0;

    height: 71px;
    border: 1px solid rgb(192, 192, 192);
    background-color: #ffffff;
    border-radius: 0;
}

.header-logo
{
    width: 100px;
    height: 74px;
}
.header-btn
{
    height: 70px;
    padding: 20px;
    padding-top: 25px;
    font-weight: bold;
    border-left: 1px solid rgb(192, 192, 192);

    cursor: pointer;
}
#headerBtnLogin
{
    color: #F1753F;
    
    i
    {
        color: #000000;
    }
}