<div class="container">
  <div class="jumbotron">
    <a routerLink="/home">
      <img class="header-logo" src="https://sgtech.blob.core.windows.net/marketing-sg/SGrentals_logo.png" alt="SGRentals" />
    </a>

    <!--<app-login-button></app-login-button>-->

    <div id="headerBtnCurrency" class="pull-right header-btn">
      R$
      <i class="fas fa-chevron-circle-down"></i>
    </div>
    <div id="headerBtnCurrency" class="pull-right header-btn">
      (FLAG) PT-BR
      <i class="fas fa-chevron-circle-down"></i>
    </div>

  </div>
</div>