<div id="hpReserveUI-container" class="container">
  <div id="hpReserveUI" class="pull-right">
    <h4>COMPARE OS MELHORES PREÇOS</h4>
    
    <form #reserveForm (ngSubmit)="advanceToCarSelection()">
    <label for="withdrawalOrigin">Retirar o carro em:</label>
    <br>
    <input id="withdrawalOrigin" name="withdrawalOrigin" class="form-control" [(ngModel)]="withdrawalOrigin" type="text" style="width: 100%" placeholder="Cidade ou Aeroporto de Retirada" />
    <br>
    <label for="returnDestiny">Devolver em outra cidade:</label>
    <br>
    <input id="returnDestiny" name="returnDestiny" class="form-control" [(ngModel)]="returnDestiny" type="text" style="width: 100%" placeholder="Cidade ou Aeroporto de Retirada" />
    <br>
    <label for="withdrawalDate">Data e hora da retirada</label>
    <br>
    <input name="withdrawalDate" [(ngModel)]="withdrawalDate" type="text" matInput [matDatepicker]="reserveDayDatepicker" placeholder="Dia..." />
    <mat-datepicker-toggle matSuffix [for]="reserveDayDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #reserveDayDatepicker></mat-datepicker>

    &nbsp;&nbsp;
    
    <mat-select name="withdrawalHour" [(ngModel)]="withdrawalHour" class="hourSelect kakou">
      <mat-option selected>5:00</mat-option>
      <mat-option>6:00</mat-option>
      <mat-option>7:00</mat-option>
      <mat-option>8:00</mat-option>
      <mat-option>9:00</mat-option>
      <mat-option>10:00</mat-option>
      <mat-option>11:00</mat-option>
      <mat-option>12:00</mat-option>
      <mat-option>13:00</mat-option>
      <mat-option>14:00</mat-option>
      <mat-option>15:00</mat-option>
      <mat-option>16:00</mat-option>
      <mat-option>17:00</mat-option>
      <mat-option>18:00</mat-option>
      <mat-option>19:00</mat-option>
      <mat-option>20:00</mat-option>
      <mat-option>21:00</mat-option>
      <mat-option>22:00</mat-option>
      <mat-option>23:00</mat-option>
      <mat-option>00:00</mat-option>
      <mat-option>1:00</mat-option>
      <mat-option>2:00</mat-option>
      <mat-option>3:00</mat-option>
      <mat-option>4:00</mat-option>
    </mat-select>

    <br><br>
    <label>Data e hora da devolução</label>
    <br>
    <input type="text" name="returnDate" [(ngModel)]="returnDate" matInput [matDatepicker]="returnDayDatepicker" placeholder="Dia..." />
    <mat-datepicker-toggle matSuffix [for]="returnDayDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #returnDayDatepicker></mat-datepicker>

    &nbsp;&nbsp;
    
    <mat-select name="returnHour" [(ngModel)]="returnHour" class="hourSelect kakou">
      <mat-option>5:00</mat-option>
      <mat-option>6:00</mat-option>
      <mat-option>7:00</mat-option>
      <mat-option>8:00</mat-option>
      <mat-option>9:00</mat-option>
      <mat-option>10:00</mat-option>
      <mat-option>11:00</mat-option>
      <mat-option>12:00</mat-option>
      <mat-option>13:00</mat-option>
      <mat-option>14:00</mat-option>
      <mat-option>15:00</mat-option>
      <mat-option>16:00</mat-option>
      <mat-option>17:00</mat-option>
      <mat-option>18:00</mat-option>
      <mat-option>19:00</mat-option>
      <mat-option>20:00</mat-option>
      <mat-option>21:00</mat-option>
      <mat-option>22:00</mat-option>
      <mat-option>23:00</mat-option>
      <mat-option>00:00</mat-option>
      <mat-option>1:00</mat-option>
      <mat-option>2:00</mat-option>
      <mat-option>3:00</mat-option>
      <mat-option>4:00</mat-option>
    </mat-select>

    <br><br>
    <button type="submit" class="btnReserve" mat-raised-button color="primary" flex="100">RESERVAR</button>
  </form>
  </div>
</div> 