#hpReserveUI-container
{
    // border: 1px solid black;
    width: 1140px;
}
#hpReserveUI
{
    width: 400px;
    padding: 30px;

    background-color: #fff;

    h4
    {
        letter-spacing: 2px;
        font-size: 18px;
        color: #3B98D5;
    }

    label
    {
        color: #245A8C;
        font-size: 14px;
    }

    input[type=text]
    {
        color: #F1753F;
        border: none;
        border-bottom: 1px solid #F1753F;
        outline: 0;
        font-size: 14px;
        width: 100px;
    }
}

.hourSelect
{
    width: 100px;
    color: black;
}

.btnReserve
{
    width: 100%;
    letter-spacing: 1px;
}