$lightBlue: #3498db;
$lightGray: #767B7C;
$btnLargeColor: #ee631d;

$solidGreen: #4fba6f;

// FONT
$darkBlue: #002a54;

.div-car-search {
  background-color: #F0F1F5;
}

.container-car {
  //width: 980px;
  margin: 10px auto 10px auto;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.card-menu {
  width: 100%;
  margin: 20px 20px 20px 0px;
  padding: 10px;
}
.card-title {
  text-transform: uppercase;
  color: $lightBlue;
}

.card-subbtitles {

}


.card-group-1 {
  margin: 5px;
  & label {
    font-weight: 300;
    font-size: 16px;
    width: 90%;
  }
  & .fa {
    margin-left: -20px;
    margin-top: 5px;
  }
}

.btn-large {
  width: 90%;
  color: #ffffff;
  background-color: #ee631d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  padding: 10px 5px;
  &:hover {
    background-color: $solidGreen;
    cursor: pointer;

  }
}

.card-input {
  border-top: none;
  border-left: none;
  border-right: none;
  &:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    outline-color: $lightBlue;
  }
}

.card-input-90 {
  width: 90%;
}

.card-input-half {
  width: 40%;
}

div.car-sort-bar {

  & div.sort-buttons {
    text-align: right;

    & div {
      display: inline-block;
      padding: 10px;
      margin: 20px 0px 0px 0px;

      & button {
        width: 200px;
        margin: 0px;



        &.btn-1 {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        &.btn-2 {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
        &.btn-selected {
          background-color: #428CDC;
          color: #fffffff;
        }
        &.btn-not-selected {
          background-color: #ffffff;
          color: #58596D;

        }


      }
    }
  }

}

.banner {
  width: 100%;
  margin-top: 20px;
  & .banner-left {
    width: 50%;
    display: flex;
    background-color: #fafafa;
    border: 1px solid $darkBlue;
    padding: 5px;
  }
  & .banner-right {
    width: 50%;
    display: flex;
    background-color: #edeaea;
    border: 1px solid $darkBlue;
    border-left: none;
    padding: 5px;
  }
  & .banner-item {
    flex: 1;
    & h1,
    & h2,
    & h3,
    & h4,
    & p {
      text-align: center;
      text-align: center;
      color: $darkBlue;
      margin-bottom: 0px;
    }
    & p {
      font-size: 14px;
    }
  }
}

.car-item {
  margin: 20px 0px 10px 0px;
}
.car-header {
  display: flex;
  border: 0.5px solid #D2D2D2;

  & .car-header-1 {
    flex: 0.75;
    padding: 2px 10px;
  }
  & .car-header-2 {
    flex: 1.25;
    border-left: 0.5px solid #D2D2D2;
    padding: 22px 10px;
    color: $darkBlue;
    & strong, div {
      font-size: 14px !important;
    }
  }
}

.car-body {
  //height: 400px; //placeholder
  min-height: 250px;
  border: 0.5px solid #D2D2D2;
  border-top: 0px;
  display: flex;
  color: $darkBlue
}

.car-body-1 {
  flex: 0.75;
  margin: auto;
}
.car-body-1 img{
  max-width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.car-body-2 {
  flex: 1.5;
  margin: auto;
  & h4 {
    margin-bottom: 0px;
    font-weight: 700;
    margin-bottom: 0px;
  }
  & h6 {
    margin-top: 0px;
  }
}

.car-body-2 table {

  & tr {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  & th {
    width: 30%;
    font-size: 14px;
  }
  & td {
    width: 20%;
    color: $lightBlue;
    font-size: 13px;
  }

}

.car-body-3 {
  background: #faf0e0;
  flex: 0.75;
  text-align: center;
  padding-top: 40px;
  & h3 {
    font-weight: 500;
  }
  & h5,
  & h6 {
    color: $lightGray;
  }
}

.car-footer {
  display: flex;
}

.car-footer-1 {
  flex: 1.75;

}

.car-footer-1 {
  & .car-footer-item {
    color: $lightGray;
    padding: 5px 10px 0px 5px;
    display: inline-block;
    min-width: 40%;
    font-size: 13px;

    & i.fas.fa-check {
      color: $solidGreen;
    }
  }
}

.car-footer-2 {
  flex: 0.5;
  border-left: 0.5px solid #D2D2D2;
  border-right: 0.5px solid #D2D2D2;
  //padding: 10px;

  & .car-footer-info {
    color: $solidGreen;
    font-weight: bold;
    padding: 5px 5px 0px 5px;
    font-size: 14px;
  }

  & .car-footer-msg {
    color: $lightGray;
    padding: 0px 5px;
    font-size: 14px;
  }
}

.car-footer-3 {
  flex: 0.75;
  margin: auto;
  text-align: center;

  & span {
    color: $lightGray;
  }
}








.w5 {
 width: 5%;
}

.w10 {
 width: 10%;
}

.w20 {
 width: 20%;
}

.w30 {
 width: 30%;
}

.w40 {
 width: 40%;
}

.w50 {
 width: 50%;
}

.w60 {
 width: 60%;
}

.w70 {
 width: 70%;
}

.w80 {
 width: 80%;
}

.w90 {
 width: 90%;
}

.w100 {
 width: 100%;
}

.placeholder-break {
  height: 40px;
  width: 30px;
  background-color: #5E5E5E;

}
