<div class="div-car-search">
  <div class="container container-car">
    <div class="row">
      <div class="col-sm-3">
        <div class="card card-menu">
          <h5 class="card-title">Pesquisar Carros</h5>

          <div class="input-group card-group-1">
            <label>Pesquisar por Modelo:</label>
            <input type="text" class="form-group card-input w90" [(ngModel)]="searchModel" (input)="onSearchModelChange()">
            <div class="input-group-append">
              <i class="fa fa-search"></i>
            </div>
          </div>

          <div class="input-group card-group-1">
            <label>Retirar carro em:</label>
            <input type="text" class="form-group card-input w90">
            <div class="input-group-append">
              <i class="fa fa-search"></i>
            </div>
          </div>

          <div class="input-group card-group-1">
            <label>Devolver em outra cidade:</label>
            <input type="text" class="form-group card-input w90">
            <div class="input-group-append">
              <i class="fa fa-search"></i>
            </div>
          </div>

          <div class="input-group card-group-1">
            <label>Data e hora da retirada:</label>
            <input type="text" class="form-group card-input card-input-half" />
            <div class="input-group-append">
              <i class="fa fa-calendar-alt"></i>
            </div>
            <span class="w10"></span>
            <input type="text" class="form-group card-input card-input-half" />
            <div class="input-group-append">
              <i class="fa fa-clock"></i>
            </div>
          </div>

          <div class="input-group card-group-1">
            <label>Data e hora da devolução:</label>
            <input type="text" class="form-group card-input card-input-half" />
            <div class="input-group-append">
              <i class="fa fa-calendar-alt"></i>
            </div>
            <span class="w10"></span>
            <input type="text" class="form-group card-input card-input-half" />
            <div class="input-group-append">
              <i class="fa fa-clock"></i>
            </div>
          </div>

          <div class="card-group-1 text-center">
            <button class="btn-large" (click)="onSearchModelChange()">Refazer Pesquisa</button>
          </div>

        </div>
      </div>

      <!-- BODY -->

      <div class="col-sm-9 ">
        <div class="row banner">

          <div class="banner-left">
            <div class="banner-item">
              <div>
                <h4>Retirada</h4>
                <p> Aeroporto Internacional de Guarulhos (GRU)</p>
              </div>
            </div>
            <div class="banner-item">
              <h4>Data</h4>
              <h1>22/12</h1>
            </div>
            <div class="banner-item">
              <h4>Horário</h4>
              <h3>09:30</h3>
            </div>
          </div>

          <div class="banner-right">
            <div class="banner-item">
              <div>
                <h4>Devolução</h4>
                <p> Aeroporto Internacional de Campinas (VCP)</p>
              </div>
            </div>
            <div class="banner-item">
              <h4>Data</h4>
              <h1>24/12</h1>
            </div>
            <div class="banner-item">
              <h4>Horário</h4>
              <h3>12:00</h3>
            </div>
          </div>

        </div>
        <!-- END BANNER -->

        <!-- CAROUSEL -->

        <!-- ORDER BY -->
        <div class="car-sort-bar">
          <div class="sort-buttons">
            <div>
              <button class='btn btn-primary btn-1 {{btnSortClass1}}' (click)="onSortFunction(1)">Maior Preço</button>
              <button class='btn btn-secondary btn-2 {{btnSortClass2}}'  (click)="onSortFunction(2)">Menor Valor</button>
            </div>
          </div>
        </div>

        <!-- CAR LIST -->
        <div class="card car-item" *ngFor="let item of mockdata">
          <div class="car-header">
            <div class="car-header-1">
              <img src="{{item.company_logo}}" width="40%"/>
              <span style="padding-left: 10px;">
              <i class="fas fa-star" aria-hidden="true"></i>
              <i class="fas fa-star" aria-hidden="true"></i>
              <i class="fas fa-star" aria-hidden="true"></i>
              <i class="fas fa-star" aria-hidden="true"></i>
              <i class="far fa-star"></i>
            </span>
            </div>
            <div class="car-header-2">
              <div>
                <strong>Local de Retirada: </strong>
                {{item.location}}
              </div>
            </div>
          </div>

          <div class="car-body">
            <div class="car-body-1">
              <img src="{{item.car.image}}" />
            </div>
            <div class="car-body-2">
              <div>
                <h4>{{item.car.car_model}}</h4>
                <h6>{{item.car.car_category}}</h6>
              </div>
              <table>
                <tr>
                  <th>Motor</th>
                  <td>1.8</td>
                  <th>Passageiros</th>
                  <td>7</td>
                </tr>
                <tr>
                  <th>Ar-cond.</th>
                  <td>{{item.car.air == 1 ? 'Sim' : 'Não'}}</td>
                  <th>Vidros-elétricos</th>
                  <td>{{item.car.electric_window == 1 | yesNo }}</td>
                </tr>
                <tr>
                  <th>Câmbio</th>
                  <td>{{item.car.shift}}</td>
                  <th>Trava Elétrica</th>
                  <td>{{item.car.electric_lock | yesNo }}</td>
                </tr>
                <tr>
                  <th>Trava Elétrica</th>
                  <td>{{item.car.electric_lock | yesNo }}</td>
                  <th>Airbags</th>
                  <td>{{item.car.airbag | yesNo}}</td>
                </tr>
                <tr>
                  <th>Freios ABS</th>
                  <td>{{item.car.abs | yesNo}}</td>
                  <th>Portas</th>
                  <td>{{item.car.doors}}</td>
                </tr>
                <tr>
                  <th>Radio</th>
                  <td>{{item.car.radio}}</td>
                  <th>Malas</th>
                  <td>{{item.car.trunk}}</td>
                </tr>
              </table>
            </div>
            <div class="car-body-3">
              <div>
                <h3>R${{item.car.price_total}}</h3>
                <h5>R${{item.car.price_day}}/dia</h5>
                <h6>Ou até em <strong>10x</strong> no cartão</h6>
                <div>
                  <button class="btn-large">Continuar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="car-footer">
            <div class="car-footer-1">
              <div class="car-footer-item" *ngFor="let package_include of item.package_includes">
                <i class="fas fa-check"></i>  {{package_include}}
              </div>
            </div>
            <div class="car-footer-2">
              <div class="car-footer-info">Oferta:</div>
              <div class="car-footer-msg">{{item.offer_msg}}</div>
            </div>
            <div class="car-footer-3">
              <div>
                <i class="far fa-envelope-open"></i> <a href="#"><span>  Enviar por Email</span></a>
              </div>
            </div>

          </div>

        </div>
        <!--  END CAR LIST -->


      </div>
    </div>
  </div>
</div>