.checkoutProgressDiv
{
    border-top: 1px solid #c3c3c3;
}
.upperRow
{
    padding-top: 35px;
}
.stepButtonsRow
{
    padding-left: 20px;
}

$stepButtonRadius: 4px;
.stepButton
{
    border: 1px solid #c3c3c3;
    color: #464646;

    height: 40px;
    padding-top: 6px;
}
.stepButtonSelected
{
    background-color: #F1F2F6;
}
.stepButtonNumber
{
    background-color: #464646;
    color: #ffffff;

    padding-left: 8px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
}

.btnYourCar
{
    border-top-left-radius: $stepButtonRadius;
    border-bottom-left-radius: $stepButtonRadius;
}
.btnPayment
{
    border-left: none;
    border-right: none;
}
.btnConfirm
{
    border-top-right-radius: $stepButtonRadius;
    border-bottom-right-radius: $stepButtonRadius;
}

.couponCardHeader,
.checkoutDataPanelHeading
{
    font-weight: bold;

    b
    {
        color: #F1753F;
        font-size: 22px;
    }
}
.btnApplyCoupon
{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}

.couponCardBody
{
    padding-top: 20px;
}
.txtCouponCode
{
    margin-top: 20px;
    margin-bottom: 20px;

    padding-left: 20px;

    font-size: 12px;
    font-weight: bold;
}

.checkoutDataPanel
{
    margin-top: 30px;
}
.carFeatureDiv
{
    margin-top: 10px;
}

.userBasicData
{
    margin-top: 30px;

    input
    {
        font-size: 14px;
    }
}
.formRow
{
    margin-bottom: 14px;
}
.cbUserData,
.rbUserData
{
    font-size: 14px;
}

.paymentPanelBody
{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.paymentPanelPriceLabel
{
    b
    {
        font-size: 28px;
    }
}
.paymentPanelForm
{
    margin-top: 30px;

    input
    {
        font-size: 16px;
    }
}
.containerForm
{
    margin-top: 30px;

    input
    {
        font-size: 14px;
    }
}
.matSelect
{
    padding: 5px;
    padding-left: 20px;
}