<div class="checkoutProgressDiv">
  <div class="container">
    <div class="row upperRow">
      <div class="col-md-9">
        <div class="row stepButtonsRow">
          <div class="col-md-3 btnYourCar stepButton stepButtonSelected">
            <span class="stepButtonNumber">1</span>
            SEU CARRO
          </div>
          <div class="col-md-3 btnPayment stepButton">
            <span class="stepButtonNumber">2</span>
            PAGAMENTO
          </div>
          <div class="col-md-3 btnConfirm stepButton">
            <span class="stepButtonNumber">3</span> 
            CONFIRMAÇÃO
          </div>
        </div>
        <!-- <div class="checkoutDataPanel panel panel-default">
          <div class="panel-heading checkoutDataPanelHeading"><b>|</b> SEU CARRO</div>
          <div class="panel-body">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="{{carData.image}}" alt="CAR IMAGE" />
                    </div>
                    <div class="col-md-8">
                      <h1>{{carData.brand}} {{carData.name}}</h1>
                      <h4>Categoria {{carData.category}}</h4>
                      <h4>Alugado por {{carData.daysRented}} dias</h4>
                      <h4><i class="fas fa-info-circle"></i> {{carData.details}}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-7">
                        Incluso no seu pacote:<br>
                        <div class="carFeatureDiv">
                          <div *ngFor="let feature of carData.features">
                            <i class="fas fa-check colorGreen"></i>
                            {{feature}}
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-md-5">
                        <img src={{carData.insurerLogo}} alt={{carData.insurerName}} />
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="panel panel-default">
          <div class="panel-heading checkoutDataPanelHeading"><b>|</b> CONFIRA OS DADOS</div>
          <div class="panel-body">
            <div class="container">
              <!-- <div class="row">
                <div class="col-md-4">
                  <b>Locatário: </b>{{userData.username}}
                  <br>
                  <b>e-mail:</b> {{userData.email}}
                </div>
                <div class="col-md-4">
                  <b>Retirada: </b>{{rentData.withdrawalDate}}
                  <br>
                  {{rentData.withdrawalOrigin}}
                </div>
                <div class="col-md-4">
                  <b>Devolução: </b>{{rentData.returnDate}}
                  <br>
                  {{rentData.returnDestiny}}
                </div>
              </div> -->

              <div class="userBasicData">
                
                  <div class="row formRow">
                    <div class="col-md-4">
                      <input type="text" name="usersName" class="form-control" placeholder="NOME" />
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="usersSurname" class="form-control" placeholder="SOBRENOME" />
                    </div>
                  </div>

                  <div class="row formRow">
                    <div class="col-md-4">
                      <input type="text" name="birthdate" class="form-control" placeholder="DATA DE NASCIMENTO" />
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="nationality" class="form-control" placeholder="NACIONALIDADE" />
                    </div>
                  </div>

                  <div class="row formRow">
                    <div class="col-md-4">
                      <input type="text" name="documentType" class="form-control" placeholder="TIPO DO DOCUMENTO" />
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="documentNumber" class="form-control" placeholder="NÚMERO DO DOCUMENTO" />
                    </div>
                  </div>

                  <div class="row formRow">
                    <div class="col-md-4">
                      <input type="text" name="cellphone" class="form-control" placeholder="NÚMERO DE CELULAR" />
                    </div>
                  </div>

                  <div class="row formRow">
                    <div class="col-md-4">
                      <input type="text" name="email" class="form-control" placeholder="E-MAIL" />
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="emailConfirmed" class="form-control" placeholder="CONFIRME SEU E-MAIL" />
                    </div>
                  </div>

                  <div class="row formRow">
                    <div class="col-md-4">
                      <input type="password" name="password" class="form-control" placeholder="CRIE UMA SENHA DE ACESSO" />
                    </div>
                  </div>

                  <div class="row formRow">
                    <div class="col-md-6">
                        <br>
                        <mat-checkbox class="cbReceivePromotions" name="cbReceivePromotions">
                          Desejo receber promoções exclusivas da SG Rentals.
                        </mat-checkbox>
                    </div>
                  </div>
                  
                  <div class="row formRow">
                    <div class="col-md-6">
                        Qual o motivo da viagem?
                        <br>
                        <div class="row">
                          <mat-radio-group>
                            <div class="col-md-6">
                                <mat-radio-button class="rbUserData" value="lazer">Lazer</mat-radio-button>
                            </div>
                            <div class="col-md-6">
                              <mat-radio-button class="rbUserData" value="negocios">Negócios</mat-radio-button>
                            </div>
                          </mat-radio-group>
                        </div>
                    </div>
                  </div>
                  
                  <div class="row formRow">
                    <div class="col-md-6">
                        <mat-checkbox class="cbAgreement" name="cbAgreement">
                          Concordo com os <a href="#">Termos e Condições Gerais de Locação</a>
                          <br>
                          e declaro ter mais de 21 anos e ter CNH válida, 
                          <br>
                          cartão de crédito em meu nome e não possuir restrições em meu CPF
                        </mat-checkbox>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading checkoutDataPanelHeading"><b>|</b> PAGAMENTO</div>
            <div class="panel-body paymentPanelBody">
              <span class="paymentPanelPriceLabel"><b>U$ 137,65</b> em até 5x</span>
              <div class="pull-right">credit card flags</div>

              <div class="container containerForm">
                <div class="row formRow">
                  <div class="col-md-6">
                    <input name="txtCardNumber" type="text" class="form-control" placeholder="NÚMERO DO CARTÃO" />
                  </div>
                  <div class="col-md-6">
                    <input name="txtCardOwner" type="text" class="form-control" placeholder="NOME DO TITULAR" />
                  </div>
                </div>
                <div class="row formRow">
                  <div class="col-md-6">
                    <input name="txtCPF" type="text" class="form-control" placeholder="CPF DO TITULAR" />
                  </div>
                  <div class="col-md-6">
                    <mat-select name="numberOfInstallments" class="matSelect kakou" placeholder="PARCELAMENTO">
                      <mat-option *ngFor="let number of numberOfInstallments">{{number}}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="row formRow">
                  <div class="col-md-3">
                    <mat-select name="ddlMonth" class="matSelect kakou" placeholder="MÊS">
                      <mat-option *ngFor="let number of numberOfMonths">{{number}}</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-md-3">
                    <mat-select name="ddlYear" class="matSelect kakou" placeholder="ANO">
                      <mat-option *ngFor="let number of numberOfYears">{{number}}</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="CÓDIGO DE SEGURANÇA" />
                  </div>
                </div>

                <div class="row formRow">
                  <div class="col">
                      <mat-checkbox name="cbResponsibility">
                        Assumo inteira responsabilidade sobre as informações prestadas
                        <br>
                        e declaro estar ciente e de acordo com os termos de pagamento.
                        <br>
                        <a href="#">Clique aqui para visualizar</a>
                      </mat-checkbox>
                  </div>
                </div>

              </div>
            </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-md-3">
          <div class="card" style="width: 24rem;">
            <div class="card-header couponCardHeader">
              <b>|</b>&nbsp;
              PAGAMENTO ONLINE
            </div>
            <div class="card-body couponCardBody">
              <h1 class="card-title text-center">U$ 137,65</h1>
              <input type="text" class="txtCouponCode form-control" placeholder="CUPOM DE DESCONTO" />
              <a href="/checkout#" class="btn btn-primary btnApplyCoupon">APLICAR</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>