.hpBG
{
    width: 100%;
    height: 480px;
    background-color: #dddddd;
}

.hpHighlightedSpots-headerLabel
    {
        font-size: 28px;
        color: #245A8C;
        border-bottom: 3px solid #F1753F;
        display: block;
    }

.rentalLocationsObs
{
    font-size: 16px;
    font-weight: bold;
    color: #767B7C;
}