<div class="hpBG">
  <app-reserve-car-ui></app-reserve-car-ui>
</div>

<div id="hpHighlightedSpots" class="container">
  <br><br>
  <p class="hpHighlightedSpots-headerLabel text-center">LOCAÇÃO DE VEÍCULOS NOS DESTINOS MAIS PROCURADOS</p>
  <br><br><br>

  <div class="row">
    
    <div class="col-md-4" *ngFor="let offer of offers">
        <app-rental-state-prices-ui [countryName]="offer.countryName" [cityPriceList]="offer.cityPriceList"></app-rental-state-prices-ui>
    </div>
  </div>

  <br><br>

  <p class="rentalLocationsObs text-center">
    Valores baseados na tarifa semanal, sujeitos a alteração e disponibilidade.
    Incluem Km livre e proteção de veículo. Não incluem taxas locais.
  </p>

  <br><br>
</div>

<app-newsletter-subscription-ui></app-newsletter-subscription-ui>