.myAccountContainer
{
    margin-top: 40px;
    
    span
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.myAccountTabSelected
{
    border-bottom: 2px solid #F1753F;
}

.myAccountPanelRow
{
    padding-right: 40px;
}
.myAccountButton
{
    width: 100%;
    font-size: 12px;
    margin-bottom: 6px;
}
.myAccountSecondaryButton
{
    background-color: #ffffff;
    border-color: #F1753F;
    color: #F1753F;
}
.btnPrintVoucher
{
    background-color: #F1753F;
    border-color: #F1753F;
}

.reservedCarDetailsDiv
{
    padding-top: 40px;
    padding-bottom: 40px;

    border-bottom: none;
}
.reservedCarDetail
{
    span
    {
        font-weight: bold;

        b
        {
            color: #3B98D5;
            font-size: 12px;
        }
    }
}
.reserveDivRightButtons
{
    height: 40px;
}
.reserveDetailsDivButton
{
    width: 200px;

    padding-top: 5px;
    padding-bottom: 8px;
    margin-left: 20px;
    color: #F1753F;
}
.reserveDetailsDivButtonSelected
{
    background-color: #3B98D5;
    color: #ffffff;
}
.reserveDetailsContainer
{
    padding-left: 40px;
    margin-top: 20px;
}
.addressDetails
{
    padding-top: 20px;
    color: #3B98D5;
}
.reserveDetailsPanelBody
{
    padding-left: 30px;
    padding-right: 30px;
}
.taxesTableHeader
{
    background-color: #D2D2D2;
    color: #3B98D5;
}
.taxesTableHighlightedRow
{
    background-color: #F6F6F6;
}
.paymentDisclaimer
{
    font-size: 12px;
}

.btnPrintReservedVoucher
{
    background-color: #F1753F;
    border-color: #F1753F;
    font-size: 16px;
}