<div class="container myAccountContainer">
  <span class="myAccountTabSelected">MINHAS RESERVAS</span>
  <span>MINHAS AVALIAÇÕES</span>
  <span>MINHA CONTA</span>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1">
          <b class="colorGreen">TFAB6T6</b>
        </div>
        <div class="col-md-2">
            <i class="fas fa-check colorGreen"></i>
          Confirmada
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row myAccountPanelRow">
        <div class="col-md-2">
          <img src="carimage.png" alt="CAR IMAGE" />
        </div>
        <div class="col-md-3">
          <h3>Chevrolet SPIN ou Similar</h3>
          <h5>Categoria minivan</h5>
          <br>
          <img src="insurerlogo.png" />
        </div>
        <div class="col-md-4">
          <b>Retirada:</b> Aeroporto de congonhas, SP
          <br>
          16/jun/2018 às 10:00
          <br><br>
          <b>Devolução:</b> Aeroporto de congonhas, SP
          <br>
          16/jun/2018 às 10:00
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary myAccountButton btnPrintVoucher">IMPRIMIR VOUCHER</button>
          <button class="btn btn-primary myAccountButton myAccountSecondaryButton">VER DETALHES DA RESERVA</button>
          <button class="btn btn-primary myAccountButton myAccountSecondaryButton">ALTERAR RESERVA</button>
          <button class="btn btn-primary myAccountButton myAccountSecondaryButton">CANCELAR RESERVA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      DETALHES DA SUA RESERVA
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <img src="carimage.png" />
          <br>
          <img src="insurerlogo.png" />
        </div>
        <div class="col-md-10">
          <div class="container">
            <div>
              <h2>Chevrolet SPIN <i class="fas fa-info-circle colorOrange"></i></h2>
              <h5>Categoria minivan - Group 1</h5>
            </div>

            <div class="reservedCarDetailsDiv">
              <div class="row">
                <div class="col-md-3 reservedCarDetail">
                  <span>Motor <b>1.8</b></span>
                  <br>
                  <span>Ar-condicionado <b>Sim</b></span>
                  <br>
                  <span>Câmbio <b>Manual</b></span>
                </div>
                <div class="col-md-3 reservedCarDetail">
                  <span>Trava elétrica <b>Sim</b></span>
                  <br>
                  <span>Freios ABS <b>Sim</b></span>
                  <br>
                  <span>Rádio <b>CD Player USB</b></span>
                </div>
                <div class="col-md-3 reservedCarDetail">
                  <span>Passageiros <b>7</b></span>
                  <br>
                  <span>Vidros-elétricos <b>Hidráulica</b></span>
                  <br>
                  <span>Trava elétrica <b>Sim</b></span>
                </div>
                <div class="col-md-3 reservedCarDetail">
                  <span>Airbags <b>Sim</b></span>
                  <br>
                  <span>Portas <b>4</b></span>
                  <br>
                  <span>Malas <b>0</b></span>
                </div>
              </div>
            </div>

            <div class="reserveDivRightButtons">
              <div class="pull-right text-center reserveDetailsDivButton reserveDetailsDivButtonSelected">ALTERAR RESERVA</div>
              <div class="pull-right text-center reserveDetailsDivButton">DETALHES DA RESERVA</div>
            </div>
          </div>
        </div>

        <div class="container reserveDetailsContainer">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">LOJA DE RETIRADA</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <i class="fas fa-calendar-alt colorOrange"></i>
                      DATA: 16/Jun/2018
                    </div>
                    <div class="col-md-6">
                      <i class="fas fa-clock colorOrange"></i>
                      HORÁRIO: 10:00
                    </div>
                  </div>
                  <div class="addressDetails">
                    <i class="fas fa-map-marker-alt"></i>
                    Aeroporto de Congonhas, São Paulo
                  </div>
                  <div>
                    Aeroporto CGH
                    <br>
                    Cidade: São Paulo, Estado: SP, País: Brasil
                    <br><br>
                    <p>
                      <b>Nota:</b>&nbsp;<i>A loja de atendimento é próxima ao aeroporto</i>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">LOJA DE DEVOLUÇÃO</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <i class="fas fa-calendar-alt colorOrange"></i>
                      DATA: 16/Jun/2018
                    </div>
                    <div class="col-md-6">
                      <i class="fas fa-clock colorOrange"></i>
                      HORÁRIO: 10:00
                    </div>
                  </div>
                  <div class="addressDetails">
                    <i class="fas fa-map-marker-alt"></i>
                    Aeroporto de Congonhas, São Paulo
                  </div>
                  <div>
                    Aeroporto CGH
                    <br>
                    Cidade: São Paulo, Estado: SP, País: Brasil
                    <br><br>
                    <p>
                      <b>Nota:</b>&nbsp;<i>A loja de atendimento é próxima ao aeroporto</i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container reserveDetailsContainer">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">INFORMAÇÕES ADICIONAIS</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col">
                      <i class="fas fa-info-circle colorOrange"></i>
                      &nbsp;
                      <a href="#">Clique aqui</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">PROTEÇÃO CONTRATADA</div>
                <div class="panel-body">
                  <i class="fas fa-check colorGreen"></i>
                  Proteção Parcial
                  <br>
                  LDW - Proteção do Veículo
                  <br><br>
                  <p>
                    Proteção contra roubo, furto, perda, danos e avarias
                    ao veículo decorrente de colisões ou acidentes.
                    <br>
                    Limites de cobertura e valor da coparticipação na franquia
                    estabelecidos em contrato de locação.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container reserveDetailsContainer">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">VALORES DA RESERVA</div>
                <div class="panel-body reserveDetailsPanelBody">
                  <div class="row taxesTableHeader">
                    <div class="col-md-8">
                      <b>Tipo da tarifa</b>
                    </div>
                    <div class="col-md-4 text-right">
                      <b>Km Livre</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      Total de Diárias
                    </div>
                    <div class="col-md-4 text-right">
                      <b>3</b>
                    </div>
                  </div>
                  <div class="row taxesTableHighlightedRow">
                    <div class="col-md-8">
                      Horas excedentes
                    </div>
                    <div class="col-md-4 text-right">
                      <b>3</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">PAGAMENTO NO DESTINO</div>
                <div class="panel-body reserveDetailsPanelBody">
                  <i class="fas fa-dollar-sign"></i>

                    O valor de R$ 858,00 será pago no destino,
                    <br>
                    no momento da retirada do veículo.
                    <br>
                    <p>
                        <b>> Valor Caução de Garantia:</b>
                        &nbsp;
                        Valor determinado pela locadora no contrato de colocação.
                        <br>
                        <b>> Parcelamento:</b>
                        &nbsp;
                        até 3x sem juros
                        <br>
                        <b>> Forma de Pagamento:</b>
                        &nbsp;
                        C. Crédito: VISA
                    </p>

                  <p class="paymentDisclaimer">
                    <b>Importante:</b>&nbsp;
                    As condições de tarifas e valores aqui apresentadas foram elaboradas pela locadora
                    Foco Rent a Car, com exclusividade à Rentcars.com. Para fazer uso dessa tarifa
                    promocional basta solicitar sua reserva online. Valores e taxas poderão sofrer alterações
                    de acordo com as configurações da reserva e período de locação.
                    <br>
                    <a href="#">Saiba mais sobre a política de pagamento.</a>
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <button class="btn btn-primary myAccountButton btnPrintReservedVoucher">IMPRIMIR VOUCHER DE RESERVA</button>
      </div>
    </div>
  </div>
</div>
</div>

